## Week 2

### Exercise:
Use and experience methods from previous lessons with given data. Try to search for other pandas methods to analyze the data such as `groupby()` and `read_csv()`.

In [1]:
# You can find covid related data under project's data folder 
base_url = "C:\\Users\\arzum\\OneDrive\\Belgeler\\Ada-Lovelace-Academy\\exercises\\data\\covid\\"
infected_dataset_url = base_url + "time_series_covid19_confirmed_global.csv"
recovered_dataset_url = base_url + "time_series_covid19_recovered_global.csv"
deaths_dataset_url = base_url + "time_series_covid19_deaths_global.csv"

#### Solution:

In [2]:
import pandas as pd
import numpy as np

In [3]:
# CSV dosyalarını pandas DataFrame' e oku
infected_df = pd.read_csv(infected_dataset_url)
recovered_df = pd.read_csv(recovered_dataset_url)
deaths_df = pd.read_csv(deaths_dataset_url)

# DataFrame' lerin ilk 2 satiri goster
print("Infected DataFrame:")
print(infected_df.head(2))

print("\nRecovered DataFrame:")
print(recovered_df.head(2))

print("\nDeaths DataFrame:")
print(deaths_df.head(2))

Infected DataFrame:
  Province/State Country/Region      Lat     Long  1/22/20  1/23/20  1/24/20  \
0            NaN    Afghanistan  33.0000  65.0000        0        0        0
1            NaN        Albania  41.1533  20.1683        0        0        0

   1/25/20  1/26/20  1/27/20  ...  6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  \
0        0        0        0  ...   19551   20342   20917   21459    22142
1        0        0        0  ...    1232    1246    1263    1299     1341

   6/11/20  6/12/20  6/13/20  6/14/20  6/15/20
0    22890    23546    24102    24766    25527
1     1385     1416     1464     1521     1590

[2 rows x 150 columns]

Recovered DataFrame:
  Province/State Country/Region      Lat     Long  1/22/20  1/23/20  1/24/20  \
0            NaN    Afghanistan  33.0000  65.0000        0        0        0
1            NaN        Albania  41.1533  20.1683        0        0        0

   1/25/20  1/26/20  1/27/20  ...  6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  \
0        0        0        0  ...    1830    1875    2171    2651     3013
1        0        0        0  ...     925     938     945     960      980

   6/11/20  6/12/20  6/13/20  6/14/20  6/15/20
0     3326     3928     4201     4725     5164
1     1001     1034     1039     1044     1055

[2 rows x 150 columns]

Deaths DataFrame:
  Province/State Country/Region      Lat     Long  1/22/20  1/23/20  1/24/20  \
0            NaN    Afghanistan  33.0000  65.0000        0        0        0
1            NaN        Albania  41.1533  20.1683        0        0        0

   1/25/20  1/26/20  1/27/20  ...  6/6/20  6/7/20  6/8/20  6/9/20  6/10/20  \
0        0        0        0  ...     327     357     369     384      405
1        0        0        0  ...      34      34      34      34       34

   6/11/20  6/12/20  6/13/20  6/14/20  6/15/20
0      426      446      451      471      478
1       35       36       36       36       36

[2 rows x 150 columns]

In [4]:
infected_df.isnull()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
0,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
262,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
263,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
264,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
265,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [5]:
infected_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Columns: 150 entries, Province/State to 6/15/20
dtypes: float64(2), int64(146), object(2)
memory usage: 311.8+ KB

In [6]:
print("Infected Columns:")
print(infected_df.columns)
print("\nRecovered Columns:")
print(recovered_df.columns)
print("\nDeaths Columns:")
print(deaths_df.columns)

Infected Columns:
Index(['Province/State', 'Country/Region', 'Lat', 'Long', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       ...
       '6/6/20', '6/7/20', '6/8/20', '6/9/20', '6/10/20', '6/11/20', '6/12/20',
       '6/13/20', '6/14/20', '6/15/20'],
      dtype='object', length=150)

Recovered Columns:
Index(['Province/State', 'Country/Region', 'Lat', 'Long', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       ...
       '6/6/20', '6/7/20', '6/8/20', '6/9/20', '6/10/20', '6/11/20', '6/12/20',
       '6/13/20', '6/14/20', '6/15/20'],
      dtype='object', length=150)

Deaths Columns:
Index(['Province/State', 'Country/Region', 'Lat', 'Long', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       ...
       '6/6/20', '6/7/20', '6/8/20', '6/9/20', '6/10/20', '6/11/20', '6/12/20',
       '6/13/20', '6/14/20', '6/15/20'],
      dtype='object', length=150)

In [7]:
infected_df.describe()

,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,...,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20,6/11/20,6/12/20,6/13/20,6/14/20,6/15/20
count,266.000000,266.000000,266.000000,266.000000,266.000000,266.000000,266.000000,266.000000,266.000000,266.000000,...,2.660000e+02,2.660000e+02,2.660000e+02,2.660000e+02,2.660000e+02,2.660000e+02,2.660000e+02,2.660000e+02,2.660000e+02,2.660000e+02
mean,21.148043,22.538640,2.086466,2.458647,3.537594,5.390977,7.962406,11.003759,20.969925,23.180451,...,2.594981e+04,2.637496e+04,2.676449e+04,2.722817e+04,2.773058e+04,2.825084e+04,2.873782e+04,2.924391e+04,2.974596e+04,3.020474e+04
std,24.909990,70.466256,27.279200,27.377862,34.083035,47.434934,66.289178,89.313757,219.187744,220.524977,...,1.333309e+05,1.349130e+05,1.363934e+05,1.382464e+05,1.402889e+05,1.424252e+05,1.445871e+05,1.467117e+05,1.484660e+05,1.502466e+05
min,-51.796300,-135.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,6.907750,-18.093125,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.572500e+02,1.572500e+02,1.572500e+02,1.580000e+02,1.625000e+02,1.650000e+02,1.710000e+02,1.722500e+02,1.760000e+02,1.760000e+02
50%,23.488100,20.972650,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,9.535000e+02,9.710000e+02,9.820000e+02,9.825000e+02,9.825000e+02,9.830000e+02,1.005000e+03,1.005000e+03,1.005000e+03,1.005000e+03
75%,41.143200,77.191525,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,7.094500e+03,7.117250e+03,7.427000e+03,7.706750e+03,8.005750e+03,8.194000e+03,8.334500e+03,8.452500e+03,8.586500e+03,8.608750e+03
max,71.706900,178.065000,444.000000,444.000000,549.000000,761.000000,1058.000000,1423.000000,3554.000000,3554.000000,...,1.926538e+06,1.944309e+06,1.961781e+06,1.979868e+06,2.000702e+06,2.023590e+06,2.048986e+06,2.074526e+06,2.094058e+06,2.114026e+06

In [8]:
print(infected_df.shape)
print(recovered_df.shape)
print(deaths_df.shape)

(266, 150)
(253, 150)
(266, 150)

In [9]:
# 6/10/20 tarihli enfekte hasta sayisi
infected_df[['Country/Region','6/10/20']]

            Country/Region  6/10/20
0              Afghanistan    22142
1                  Albania     1341
2                  Algeria    10484
3                  Andorra      852
4                   Angola      113
..                     ...      ...
261  Sao Tome and Principe      611
262                  Yemen      560
263                Comoros      162
264             Tajikistan     4763
265                Lesotho        4

[266 rows x 2 columns]

In [10]:
# En son tarihli sütunun adını al
latest_date_column = infected_df.columns[-1]

# 'Country/Region' sütunu üzerinde gruplama yaparak toplam enfekte olan sayıları bulma
total_infected_by_country = infected_df.groupby('Country/Region')[latest_date_column].sum().reset_index()

# Ölüm sayılarını bulma
total_deaths_by_country = deaths_df.groupby('Country/Region')[latest_date_column].sum().reset_index()

# Toplam iyileşen sayıları bulma
total_recovered_by_country = recovered_df.groupby('Country/Region')[latest_date_column].sum().reset_index()

# Her bir ülkedeki toplam enfekte olan sayıları gösterme
print("Total Infected by Country:")
print(total_infected_by_country)

# Toplam ölüm sayılarını gösterme
print("\nTotal Deaths by Country:")
print(total_deaths_by_country)

# Toplam iyileşen sayıları gösterme
print("\nTotal Recovered by Country:")
print(total_recovered_by_country)

Total Infected by Country:
         Country/Region  6/15/20
0           Afghanistan    25527
1               Albania     1590
2               Algeria    11031
3               Andorra      853
4                Angola      142
..                  ...      ...
183  West Bank and Gaza      505
184      Western Sahara        9
185               Yemen      844
186              Zambia     1382
187            Zimbabwe      387

[188 rows x 2 columns]

Total Deaths by Country:
         Country/Region  6/15/20
0           Afghanistan      478
1               Albania       36
2               Algeria      777
3               Andorra       51
4                Angola        6
..                  ...      ...
183  West Bank and Gaza        3
184      Western Sahara        1
185               Yemen      208
186              Zambia       11
187            Zimbabwe        4

[188 rows x 2 columns]

Total Recovered by Country:
         Country/Region  6/15/20
0           Afghanistan     5164
1               Albania     1055
2               Algeria     7735
3               Andorra      789
4                Angola       64
..                  ...      ...
183  West Bank and Gaza      415
184      Western Sahara        8
185               Yemen       79
186              Zambia     1142
187            Zimbabwe       54

[188 rows x 2 columns]